<!doctype html>
<html ng-app="commitCtr">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>
	<style type="text/css">
		.mui-card-footer:before,
		.mui-card-header:after {
			height: 0px;
		}
		
		.mui-card-content p {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		.mui-card {
			border-radius: 5px;
		}
		
		.mui-card-content .think {
			height: 2px;
			background-color: #EAEAEA;
			width: 90%;
			margin: 0 auto;
		}
		
		.time {
			text-align: center;
			color: #AAAAAA;
			font-size: 12px;
		}
		
		.mui-card-content img {
			padding-left: 15px;
		}
		
		.green-work {
			color: #26aa12;
		}
	</style>

	<body style="background:#F5F4F4;" ng-controller="myCtrl">
		<!--顶部栏-->
		<header id="header" class="mui-bar mui-bar-nav header-top">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left green-work"></a>
			<h1 class="mui-title">消息列表</h1>
		</header>

		<div class="cjs"></div>

		<div class="mui-scroll-wrapper allheight">
			<div class="mui-scroll">
				<div style="margin-top:70px;margin-bottom:70px;">
					<div class="box" ng-repeat="x in shuju2">
						<div class="time" ng-bind='x.yeard'>
							2017.06.06
						</div>
						<div class="mui-card">
							<!--页眉，放置标题-->
							<div class="mui-card-header">面试通知</div>
							<!--内容区-->
							<div class="mui-card-content">
								<div class="think"></div>
								<p style="margin-bottom: 2px;" ng-bind="x.time">16.41</p>
								<p style="color: #000;margin-bottom: 2px;"><span ng-bind="x.resume_name">张庆美</span>，你好</p>
								<p style="font-size: 13px;margin-bottom: 2px;">你申请的<span style="color: #F6903B;">#<span ng-bind="x.jobs_name">海信智动精工</span>#</span>，符合要求可以面试。</p>
								<p style="font-size: 13px;margin-bottom: 2px;">面试时间： <span ng-bind="x.year"></span></p>
								<p style="font-size: 13px;margin-bottom: 2px;">集合地点： <span ng-bind="x.address"></span></p>
								<p style="font-size: 13px;margin-bottom: 2px;">联系人： <span ng-bind="x.contact"></span>&nbsp;&nbsp;<span ng-bind="x.telephone"></span></p>
								<p style="font-size: 13px;margin-bottom: 2px;">注意事项： <span ng-bind="x.notes"></span></p>
								<div class="think"></div>
							</div>
							<!--页脚，放置补充信息或支持的操作-->
							<div class="mui-card-footer" ng-click="map(this)"><span class="daohang">导航至集合地点<span class="mui-icon mui-icon-location"></span></span><span class="mui-icon mui-icon-arrowright"></span></div>
						</div>
					</div>

					<div class="box" ng-repeat="x in shuju">
						<div class="time green-work" ng-bind='x.yeardate'>

						</div>
						<div class="mui-card" ng-click="tiaozhuan(x)">
							<!--页眉，放置标题-->
							<div class="mui-card-header" ng-bind='x.title'>出门找工作，遇见直招帮</div>
							<!--内容区-->
							<div class="mui-card-content">
								<img data-ui-lazyload="{{imgurl+x.small_img}}" style="height: 120px; width: 95%; " />
								<p ng-bind='x.content' style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;">出门找工作，遇见直招帮，直招帮自上线以来，便捷的求职体验，贴心的客服沟通与服务，大大...</p>
								<div class="think"></div>
							</div>
							<!--页脚，放置补充信息或支持的操作-->
							<div class="mui-card-footer">阅读全文<span class="mui-icon mui-icon-arrowright"></span></div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/ag1.46.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/factory.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/anglazy.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		<script type="text/javascript">
			angular.module('commitCtr', ['myApp', 'lazyload'])
				.controller('myCtrl', function($scope, $http, $data) {
					$data.xiaoxi().success(function(response) {
						console.log(JSON.stringify(response));
						$scope.shuju = response.data;
						$scope.imgurl = $$$.imgurl;
						$scope.siturl = $$$.siturl;
					});
					$data.shengqingchengong().success(function(response) {
						$scope.shuju2 = response.data;
						console.log(JSON.stringify($scope.shuju2))
					})
					$scope.tiaozhuan = function(x) {
						$scope.id = x.id;
						//						console.log($scope.id);
						//						localStorage.setItem('aid', $scope.id);
						//						window.open("http://192.168.1.107/?m=Mobile&c=news&a=newsdetal&id=" + $scope.id);
						mui.openWindow({
							url: 'tiaozhuan.html',
							id: 'tiaozhuan.html',
							extras: {
								pid: $scope.id
							},

						});
					}
					
					$scope.map = function(e) {
						localStorage.setItem('addresstocompor', this.x.address);
						localStorage.setItem('xmap', this.x.map_x);
						localStorage.setItem('ymap', this.x.map_y);
						mui.openWindow({
							url: '../job/map.html',
							id: 'map.html',
						});
					}
				})
		</script>

	</body>

</html>