.mui-poppicker {
	position: fixed;
	left: 10%;
	width: 80%;
	z-index: 999;
	background-color: #fff;
	
	-webkit-transition: .3s;
	bottom: 0px;
	-webkit-transform: translateY(300px);
}
.mui-poppicker.mui-active {
	-webkit-transform: translateY(-200px);
}
.mui-android-5-1 .mui-poppicker {
	bottom: -300px;
	-webkit-transition-property: bottom;
	-webkit-transform: none;
}
.mui-android-5-1 .mui-poppicker.mui-active {
	bottom: 0px;
	-webkit-transition-property: bottom;
	-webkit-transform: none;
}
.mui-poppicker-header {
	padding: 6px;
	font-size: 14px;
	color: #888;
	border-top:1px solid #ccc;
}
.mui-poppicker-foot {
	margin-top:10px;
    padding:10px;
    font-size: 16px;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #ff8c00;
}
.mui-poppicker-header .mui-btn {
	font-size: 12px;
	padding: 5px 10px;
}
.mui-poppicker-btn-cancel {
	float: left;
}
.mui-poppicker-btn-ok {
	float: right;
}
.mui-poppicker-clear {
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
	overflow: hidden;
}
.mui-poppicker-body {
	position: relative;
	width: 100%;
	height: 150px;
	border-top: solid 1px #ddd;
	/*-webkit-perspective: 1200px;
	perspective: 1200px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;*/
}
.mui-poppicker-body .mui-picker {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: none;
	float: left;
}

	

